<!-- contoh loop statis -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <ul>
            <!-- 1 -->
            <!-- <li v-for="member in members">
                {{ member.nama }} __ {{ member.umur }}
            </li> -->
            <!-- 2 -->
            <li v-for="member in members" track-by="id">
                    {{ member.nama }} {{ member.id }}
            </li>

        </ul>
    </div>
        
    
    <script src="vue.min.js"></script>
    <script>
        // bikin object vue
        var vo = new Vue ({
            
            el: "#app",
            data: {
                members: [
                    { id: 1, nama: "zernalda", umur: 26 },
                    { id: 2, nama: "ezaria", umur:18 },
                    { id: 3, nama: "mama", umur:50 },
                    { id: 4, nama: "papa", umur:53 },
                ]

            },
        });

        // mutating (ngrubah nilai object aseli)
        // contoh: push, pop, shift, unshift

        // non mutating
        // contoh: filter, concat, slice

    </script>
    
</body>
</html>